* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, li {
    list-style-type: none;
}

body {
    height: 100vh;
    padding-top: 100px;
    background: linear-gradient(135deg, #241e1f 0%,#453937 100%);
}

.up-case {
    text-transform: uppercase;
}

.mar-right {
    margin-right: 20px;
}

.main__box {
    position: relative;
    display: flex;
    margin: 50px auto;
    width: 940px;
    height: 395px;
    background-color: aliceblue;
}

.left_box_info {
    background-color: blue;
    width: 330px;
    height: 395px;
}

.left_box_image {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

img[alt=burger] {
    width: 120%;
    height: 120%;
    position: relative;
    top: -60px;
}


.left_box_promotional {
    position: relative;
    top: -240px;
    left: -10px;
    width: 337px;
    height: 213px;
    background-color: #000000;
}

.promotional_burger {
    display: flex;
    justify-content: center; 
    align-items: center; 
    position: relative;
    top: 40px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-weight: 900;
    font-size: 3rem;
    line-height: 0.8;
}

.promotional_burger::after {
    content: '!';
    position: absolute;
    bottom: -37px; 
    left: 50%; 
    transform: translateX(-50%); 
}

.exclamation_price {
    display: flex;
    position: relative;
    top: 90px;
    justify-content: center; 
    align-items: center; 
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-weight: 900;
    font-size: 12px;
}

p {
    color: #F7C73A;
    margin-right: 5px;
}


.right_box_info {
    width: 100%;
    padding-right: 86px;
    padding-left: 70px;
}

.right_box_header{
    margin-top: 43px;
    margin-bottom: 63px;
}

.right_box_header {
    text-align: center;
}

.right_box_menu {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.right_box_menu_burger {
    position: relative;
    width: 200px;
    height: 65px;
    text-align: center;
    border-bottom: 1px solid #D5D5D5;
}

.right_box_menu_name_uppercase {
    font-size: 16px;
}

.right_box_menu_price{
    font-size: 14px;
    color: #999999;
}

.diamond-container {
    position: relative;
    top: 24px;
    left: 94px;
    width: 11px; 
    height: 11px; 
  }
  
.diamond-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    background-color: #D5D5D5; 
    transform: rotate(45deg); 
    transform-origin: center; 
  }

.main__button {
    position: absolute;
    top: 400px;
    width: 940px;
    height: 45px;
    text-align: right;
    margin: 0 auto;
    margin-top: 5px;
  }

button {
    width: 175px;
    height: 45px;
    background-color: #000000;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    border: none;
  }